---
layout: layouts/home.html
---

{% include "./_includes/layouts/components/cover.njk" %}

{% include "./_includes/layouts/components/features.njk" %}

{% include "./_includes/layouts/components/metodo.njk" %}

{# {% include "./_includes/layouts/components/3dweb-component.njk" %} #}

{% include "./_includes/layouts/components/articulos-recientes.njk" %}

<footer class="blockquote--pie"
style="background-image: url('/img/bg2.jpg');">
  <span class="overlay">
    <blockquote>
      <h3>
        “... y cuando el Todo hubo comenzado a ordenarse, todos los elementos recibieron de Dios sus figuras por acción de las ideas y de los números.”
        <br>
        <small>&#8212; Platón</small>
      </h3>
    </blockquote>
  </span>

</footer>

{# <script src="{{ '/js/tabs-colored.js' | url }}"></script> #}
