<div class="section--form">

  <div id="grafica">
    <div class="output"></div>
  </div>

  <div class="grid  form-group">
    <div class="form-group__item">
      <label for="entrada">Traduce palabras /nombres o frases:</label>
      <input id="entrada" type="text" placeholder="Escribe aqui..." value="Vacio existencial" autofocus>
    </div>

    <div class="form-group__item">
      <label class="" for="fechanacimiento">Frecuencia fecha nacimiento:</label>
      <input type="date" id="fechanacimiento" min="1930-12-12" max="2100-12-12">
    </div>

    <input type="submit" id="lanza" value="Generar">

  </div>

  <section>
    <dl class="codigos-ejemplo">
      {% for codigo in codigos %}
        <dt>{{ codigo.palabra }} <span>{{ codigo.frecuencia }}</span></dt>
        <dd>{{ codigo.descripcion }}</dd>
      {% endfor %}
    </dl>
  </section>

</div>
