<div class="section--form">

  <h3 class="titlePage">
    Herramienta para descifrar
  </h3>

  <div class="grid  form-group">

    <div class="form-group__item">
      <label for="entrada">Traduce palabras /nombres o frases:</label>
      <input
        id="entrada" type="text"
        placeholder="Escribe aqui..."
        value="Vacio existencial" autofocus
      >
    </div>

    <div class="form-group__item">
      <label class="" for="fechanacimiento">Frecuencia fecha nacimiento:</label>
      <input type="date" id="fechanacimiento" min="1930-12-12" max="2100-12-12">
    </div>

    <input type="submit" id="lanza" value="decodificar">

  </div>

  <div class="output">
    <div id="outputtexto" class="resultado"></div>
    <svg class="grafica" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path id="graficagenerada" />

      <g>
        <circle id="satelite" class="elemento" cx="32" cy="22" r="1" vector-effect="non-scaling-stroke"></circle>

        <circle cx="32" cy="22" r="16" vector-effect="non-scaling-stroke"></circle>
        <circle cx="16" cy="22" r="16" vector-effect="non-scaling-stroke"></circle>

        <circle id="cero" class="elemento" cx="0.1" cy="22" r="1" vector-effect="non-scaling-stroke"></circle>

        <circle id="uno" class="elemento" cx="48" cy="22" r="1" vector-effect="non-scaling-stroke"></circle>
        <text x="10" y="10">1</text>

        <circle id="dos" class="elemento" cx="40" cy="36" r="1" vector-effect="non-scaling-stroke"></circle>
        <text x="10" y="10">2</text>

        <circle id="tres" class="elemento" cx="40" cy="8" r="1" vector-effect="non-scaling-stroke">
        </circle>
        <text x="10" y="10">3</text>

        <circle id="cuatro" class="elemento" cx="32" cy="22" r="1" vector-effect="non-scaling-stroke"></circle>
        <text x="10" y="10">4</text>

        <circle id="cinco" class="elemento" cx="24" cy="36" r="1" fill="red" vector-effect="non-scaling-stroke"></circle>

        <circle id="seis" class="elemento" cx="24" cy="8" r="1" vector-effect="non-scaling-stroke"></circle>

        <circle id="siete" class="elemento" cx="16" cy="22" r="1" vector-effect="non-scaling-stroke"></circle>
        <circle id="ocho" class="elemento" cx="8" cy="36" r="1" vector-effect="non-scaling-stroke"></circle>

        <circle id="nueve" class="elemento" cx="8" cy="8" r="1" vector-effect="non-scaling-stroke"></circle>
      </g>
    </svg>
  </div>

</div>
