<h3>
  Cuenta conmigo...
</h3>

<div class="contact-me">

  <a class="btn-whatsapp m-2" href="https://api.whatsapp.com/send?phone=+34619549032" target="_blank">WhatsApp</a>

  <a class="btn-telegram m-2" href="https://t.me/sergiofores" target="_blank">Telegram</a>

</div>
