<h3>
  ¿Más info?
</h3>

<p class="tac">
  Sergio Forés es artista plástico, diseñador digital y desarrollador web.
</p>

<div class="contact-me">

  <a class="btn-whatsapp m-2" href="https://api.whatsapp.com/send?phone=+34619549032" target="_blank">WhatsApp</a>

  <a class="btn-telegram m-2" href="https://t.me/sergiofores" target="_blank">Telegram</a>

</div>
