<header class="section--cover grid">
  <svg id="coversvg" viewBox="0 0 140 88"
  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g>
  <line id="update" x1="4%" y1="25%" x2="45%" y2="25%" />
      <circle cx="15" cy="22" r="9.5" stroke-dasharray="5,5" vector-effect="non-scaling-stroke"></circle>
      <circle cx="35" cy="22" r="9.5" vector-effect="non-scaling-stroke"></circle>
      <circle cx="55" cy="22" r="9.5" vector-effect="non-scaling-stroke"></circle>
      <circle cx="25" cy="22" r="19.5" vector-effect="non-scaling-stroke"></circle>
      <circle cx="45" cy="22" r="19.5" vector-effect="non-scaling-stroke"></circle>
      <circle cx="10.35" cy="22" r="5" vector-effect="non-scaling-stroke"></circle>
      <circle cx="20.4" cy="22" r="5" vector-effect="non-scaling-stroke"></circle>
      <circle cx="30" cy="22" r="5" vector-effect="non-scaling-stroke"></circle>
      <circle cx="40" cy="22" r="5" vector-effect="non-scaling-stroke"></circle>
      <circle cx="50" cy="22" r="5" vector-effect="non-scaling-stroke"></circle>
      <circle cx="60" cy="22" r="5" vector-effect="non-scaling-stroke"></circle>

      <circle id="cero" cx="5" cy="22" r="1.5" stroke-dasharray="5,5" vector-effect="non-scaling-stroke"></circle>

      <circle id="uno" cx="65" cy="22" r="5" vector-effect="non-scaling-stroke"></circle>

      <circle id="dos" cx="55" cy="39" r="5" vector-effect="non-scaling-stroke"></circle>

      <circle id="tres" cx="55" cy="5" r="5" vector-effect="non-scaling-stroke">
      </circle>

      <circle id="cuatro" cx="45" cy="22" r="5" vector-effect="non-scaling-stroke"></circle>

      <circle id="cinco" cx="35" cy="39" r="5" vector-effect="non-scaling-stroke"></circle>
      <circle class="puntero" cx="35" cy="39" r="1.25" vector-effect="non-scaling-stroke"></circle>
      <circle id="seis" cx="35" cy="5" r="5" vector-effect="non-scaling-stroke"></circle>
      <circle class="puntero" cx="35" cy="5" r="1.25" vector-effect="non-scaling-stroke"></circle>
      <circle id="siete" cx="25" cy="22" r="5" vector-effect="non-scaling-stroke"></circle>
      <circle class="puntero" cx="25" cy="22" r="1.25" vector-effect="non-scaling-stroke"></circle>
      <circle id="ocho" cx="15" cy="39" r="5" vector-effect="non-scaling-stroke"></circle>
      <circle class="puntero" cx="15" cy="39" r="1.25" vector-effect="non-scaling-stroke"></circle>
      <circle id="nueve" cx="15" cy="5" r="5" vector-effect="non-scaling-stroke"></circle>
      <circle class="puntero" cx="15" cy="5" r="1.25" vector-effect="non-scaling-stroke"></circle>
    </g>
  </svg>
  <h1 class="titlePage">
    Descifrar el Proceso de tu Creación
    <span class="color-primary">desde el Cero.</span>
  </h1>
</header>
