<header class="section--cover grid">
  <svg id="coversvg" viewBox="0 0 140 88"
  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <g>

      <line id="update" x1="0" y1="25%" x2="48" y2="25%" stroke-linecap="round" />

      <circle cx="8" cy="22" r="8" stroke-dasharray="5.5" vector-effect="non-scaling-stroke"></circle>
      <circle cx="24" cy="22" r="8" stroke-dasharray="5.5" vector-effect="non-scaling-stroke"></circle>
      <circle cx="40" cy="22" r="8" stroke-dasharray="5.5" vector-effect="non-scaling-stroke"></circle>

      <circle cx="32" cy="22" r="16" vector-effect="non-scaling-stroke"></circle>
      <circle cx="16" cy="22" r="16" vector-effect="non-scaling-stroke"></circle>

      <circle cx="4" cy="22" r="4" vector-effect="non-scaling-stroke"></circle>
      <circle cx="12" cy="22" r="4" vector-effect="non-scaling-stroke"></circle>
      <circle cx="20" cy="22" r="4" vector-effect="non-scaling-stroke"></circle>
      <circle cx="28" cy="22" r="4" vector-effect="non-scaling-stroke"></circle>
      <circle cx="36" cy="22" r="4" vector-effect="non-scaling-stroke"></circle>
      <circle cx="44" cy="22" r="4" vector-effect="non-scaling-stroke"></circle>

      <circle id="cero" cx="0.1" cy="22" r="1" vector-effect="non-scaling-stroke"></circle>

      <circle id="uno" cx="48" cy="22" r="1" vector-effect="non-scaling-stroke"></circle>

      <circle id="dos" cx="40" cy="36" r="1" vector-effect="non-scaling-stroke"></circle>

      <circle id="tres" cx="40" cy="8" r="1" vector-effect="non-scaling-stroke">
      </circle>

      <circle id="cuatro" cx="32" cy="22" r="1" vector-effect="non-scaling-stroke"></circle>

      <circle id="satelite" cx="32" cy="22" r="1" vector-effect="non-scaling-stroke"></circle>

      <circle id="cinco" cx="24" cy="36" r="4" fill="red" vector-effect="non-scaling-stroke"></circle>
      <circle class="puntero" cx="24" cy="36" r="1" vector-effect="non-scaling-stroke"></circle>

      <circle id="seis" cx="24" cy="8" r="4" vector-effect="non-scaling-stroke"></circle>
      <circle class="puntero" cx="24" cy="8" r="1" vector-effect="non-scaling-stroke"></circle>

      <circle id="siete" cx="16" cy="22" r="1" vector-effect="non-scaling-stroke"></circle>
      <circle id="ocho" cx="8" cy="36" r="4" vector-effect="non-scaling-stroke"></circle>
      <circle class="puntero" cx="8" cy="36" r="1" vector-effect="non-scaling-stroke"></circle>
      <circle id="nueve" cx="8" cy="8" r="4" vector-effect="non-scaling-stroke"></circle>
      <circle class="puntero" cx="8" cy="8" r="1" vector-effect="non-scaling-stroke"></circle>
    </g>
  </svg>
  <h1 class="titlePage">
    Descifrar el Proceso de La Creación para encontrArte en tu momento Cero.
  </h1>
</header>
