<header class="section--cover grid">

  <svg id="animcover" width="500" height="500"></svg>

  <h1 class="titlePage">
    Descifrar el Proceso de La Creación para encontrArte en tu momento Cero.
  </h1>
</header>
