
  <p class="tac">Con +0+1234 quiero contArte
    <span class="tachado">(cuatro)</span>
    cinco cosas...
  </p>

  <div class="bgcolor-grey-0">

    <section class="grid">
      <div class="grid__item">
        <img src="/img/1234.svg" alt="">
        <h4>EncontrArte en el Vacío</h4>
        <p>Talleres online desde una perspectiva Multidimensional Transdisciplinar y Holística. (para artistas, creativos, diseñadores...) </p>
      </div>
      <div class="grid__item">
        <img src="/img/435682.svg" alt="">
        <h4>Experimentar la lógica escondida tras la Creación</h4>
        <p>Para materializar que nuestro propósito no puede ser más original</p>
      </div>
      <div class="grid__item">
        <img src="/img/mapa-fases.svg" alt="">
        <h4>"¿...y para qué es un secreto... si no es para compartirlo?"</h4>
        <p>Este proyecto es la bajada a tierra de un viaje holistico y transdisciplinar y el disfrute de sus frutos.</p>
        <!-- <a href="/artwork/">Ver</a> -->
      </div>
    </section>
  </div>
