<footer class="footer-site  grid--secondary">

  <header class="grid--secondary__item p-3">
    <h3>
      <strong>Cuenta conmigo!</strong>
    </h3>
  </header>
  <main>
    <p>
      Si quieres implicarte en tu proceso  de Creación de manera holística y profunda, si quieres usar tu momento Cero que te bloquea para propulsarte a una percepción más madura y coherente...
    </p>
  </main>

  <div class="contact-me">

    <a class="btn-whatsapp  m-2" href="https://api.whatsapp.com/send?phone=+34619549032" target="_blank">WhatsApp ↗</a>

    <a class="btn-telegram  m-2" href="https://t.me/sergiofores" target="_blank">Telegram ↗</a>

  </div>

  <aside class="p-3">

    <p>Sígueme en éstas redes:</p>

    {% include "./social-links.njk" %}

  </aside>

  <footer class="bgcolor-grey-3">
    <small class="subTitle">Un Método Neutro Universal</small>
      {# <figure class="grid__item">
        <img src="/img/435685.svg" alt="">
      </figure> #}
    <nav class="">
      <a href="/faqs/"><small>FAQ's</small></a>
    </nav>
  </footer>

</footer>
