<footer class="footer-site  grid--secondary">

  <h3 class="grid--secondary__item">
    <span><strong>Cuenta conmigo!</strong></span> Si quieres implicarte en tu proceso  de Creación de manera holística y profunda, si quieres usar tu momento Cero que te bloquea para propulsarte a una percepción más madura y coherente...
  </h3>

  <div class="grid--secondary__item  contact-me">

    <a class="btn-whatsapp  m-2" href="https://api.whatsapp.com/send?phone=+34619549032" target="_blank">WhatsApp ↗</a>

    <a class="btn-telegram  m-2" href="https://t.me/sergiofores" target="_blank">Telegram ↗</a>

  </div>

  <div class="grid--secondary__item">

    <p>Sígueme en las redes</p>

    {% include "./social-links.njk" %}

  </div>

</footer>
