<div class="section--metodo">

  <h3 class="subTitle">Un Método Neutro Universal</h3>

  <svg id="metodosvg" viewBox="0 0 140 88"
  xmlns="http://www.w3.org/2000/svg">

    <g>

      <circle cx="8" cy="22" r="8" stroke-dasharray="5.5" vector-effect="non-scaling-stroke"></circle>
      <circle cx="24" cy="22" r="8" stroke-dasharray="5.5" vector-effect="non-scaling-stroke"></circle>
      <circle cx="40" cy="22" r="8" stroke-dasharray="5.5" vector-effect="non-scaling-stroke"></circle>

      <circle cx="32" cy="22" r="16" vector-effect="non-scaling-stroke"></circle>
      <circle cx="16" cy="22" r="16" vector-effect="non-scaling-stroke"></circle>

      <circle cx="4" cy="22" r="4" vector-effect="non-scaling-stroke"></circle>
      <circle cx="12" cy="22" r="4" vector-effect="non-scaling-stroke"></circle>
      <circle cx="20" cy="22" r="4" vector-effect="non-scaling-stroke"></circle>
      <circle cx="28" cy="22" r="4" vector-effect="non-scaling-stroke"></circle>
      <circle cx="36" cy="22" r="4" vector-effect="non-scaling-stroke"></circle>
      <circle cx="44" cy="22" r="4" vector-effect="non-scaling-stroke"></circle>

      <circle id="cero" cx="0.1" cy="22" r="4" vector-effect="non-scaling-stroke" class="clickableItem"></circle>

      <circle id="uno" class="clickableItem" cx="48" cy="22" r="4" vector-effect="non-scaling-stroke"></circle>

      <circle cx="40" cy="36" r="4" vector-effect="non-scaling-stroke"
      id="dos" class="clickableItem"></circle>

      <circle cx="40" cy="8" r="4" vector-effect="non-scaling-stroke"
       id="tres" class="clickableItem"></circle>


      <circle id="cuatro" cx="32" cy="22" r="4" vector-effect="non-scaling-stroke" class="clickableItem"></circle>

      <circle id="cinco" cx="24" cy="36" r="1" vector-effect="non-scaling-stroke"></circle>
      <circle id="seis" cx="24" cy="8" r="1" vector-effect="non-scaling-stroke"></circle>
      <circle id="siete" cx="16" cy="22" r="1" vector-effect="non-scaling-stroke"></circle>
      <circle id="ocho" cx="8" cy="36" r="1" vector-effect="non-scaling-stroke"></circle>
      <circle id="nueve" cx="8" cy="8" r="1" vector-effect="non-scaling-stroke"></circle>
    </g>
  </svg>

  <div class="txt-wrap">
    <div id="txt0" class="txt txt--cero">
      <h3>Cero</h3>
    </div>

    <div id="txt1" class="txt txt--uno">
      <h3>Uno</h3>
    </div>

    <div id="txt2" class="txt txt--dos">
      <h3>Dos</h3>
    </div>

    <div id="txt3" class="txt txt--tres">
      <h3>Tres</h3>
    </div>

    <div id="txt4" class="txt txt--cuatro">
      <h3>Cuatro</h3>
    </div>
  </div>



</div>
