<section>
  <div id="London" class="tabcontent">
    <h1>Uno</h1>
    {# <p>London is the capital city of England.</p> #}
  </div>

  <div id="Paris" class="tabcontent">
    <h1>Dos</h1>
    {# <p>Paris is the capital of France.</p> #}
  </div>

  <div id="Tokyo" class="tabcontent">
    <h1>Tres</h1>
    {# <p>Tokyo is the capital of Japan.</p> #}
  </div>

  <div id="Oslo" class="tabcontent">
    <h1>Cuatro</h1>
    {# <p>Oslo is the capital of Norway.</p> #}
  </div>


  <button class="tablink" onclick="openCity('London', this, '#FFFF9F')" id="defaultOpen">Uno</button>
  <button class="tablink" onclick="openCity('Paris', this, '#9F9FFF')">Dos</button>
  <button class="tablink" onclick="openCity('Tokyo', this, '#FF6874')">Tres</button>
  <button class="tablink" onclick="openCity('Oslo', this, '#2BC4A9')">Cuatro</button>

</section>
