---
layout: layouts/page.html
title: Artwork
templateClass: tmpl-page
eleventyNavigation:
  key: Obra
  order: 3
---

<header>
  <h1 class="titlePage">La poesía de la materia</h1>
  <p class="subTitlePage">
    Mis pinturas al ser tridimensionales son esculpidas por una luz que es real.
  </p>
</header>

<section class="grid  bgcolor-grey-1">

  <div class="grid__item" >
    <p>Fluidos en un espacio estérico reaccionan a la vibración y la inercia generando vibraciones que fraguan...</p>
    <button class="btn--black" onclick="playPause()">Ver Video</button>
  </div>

  <div class="grid__item">
    <video id="video1"
    poster="/img/arte3d.jpeg">
      <source src="/videos/desdelapoesiadelamateria.mp4" type='video/mp4' />
      <source src="/videos/desdelapoesiadelamateria.webm" type='video/webm' />
      Your browser does not support the video tag.
    </video>
  </div>

</section>
<br>
<div class="gallery">

  {% for obra in obras.obras %}
  <div class="gallery__item">
    <img src="{{ obra.preview }}" alt="{{ obra.title }}" onclick="openLightbox();toSlide({{ obra.id }})" class="hover-shadow preview">
    <br>
    <small>{{ obra.title }}</small>
  </div>
  {% endfor %}

</div>

<div id="Lightbox" class="modal">

<span class="close pointer" onclick="closeLightbox()">&times;</span>

<div class="modal-content">

  {% for obra in obras.obras %}
  <div class="slide">
    <img src="{{ obra.imagen }}" alt="{{ obra.title }}" class="image-slide">
    <small><strong>{{ obra.title }}</strong> {{ obra.description }}. REF: {{ obra.ref }}</small>
  </div>
  {% endfor %}

  <a class="previous" onclick="changeSlide(-1)">&#10094;</a>
  <a class="next" onclick="changeSlide(1)">&#10095;</a>

  <div class="dots">

    {% for obra in obras.obras %}
      <img src="{{ obra.preview }}" alt="{{ obra.title }}" class="modal-preview hover-shadow"
      onclick="toSlide({{ obra.id }})">
    {% endfor %}

  </div>
</div>

</div>

<h3>Proceso</h3>
<div class="grid">
  <div class="grid__item">
    <video id="video1" controls loop>
      <source src="/videos/pieza-123.webm" type='video/webm' />
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="grid__item">
    <video id="video2" controls loop>
      <source src="/videos/anim.webm" type='video/webm' />
      Your browser does not support the video tag.
    </video>
  </div>
</div>

<div class="vh50  dg pic section--bg-image" style="background-image: url('/img/img3.jpg');">
  <blockquote class="blockquote--default  color-grey-0">
    <h3>
      "Sólo cuando bajamos al abismo recuperamos los auténticos tesoros de la vida."
      <br>
      <small>__Joseph Campbell</small>
    </h3>
  </blockquote>
</div>

{# <script type="module" src="{{ '/js/main.js' | url }}"></script> #}
<script src="{{ '/js/lightbox.js' | url }}"></script>
<script src="{{ '/js/videoplayer.js' | url }}"></script>
