---
layout: layouts/page.html
title: Artwork
templateClass: tmpl-page
eleventyNavigation:
  key: Artwork
  order: 3
---

<h1 class="titlePage">Artwork</h1>
<p class="subTitlePage">
  Moldes, matrices, mallas creadas en 3D en las que aplico dinámicas físicas y vibraciones que luego fraguan en el mundo real.
  Mis pinturas son tridimensionales porque me interesa cómo la luz real modela las superfícies.
</p>


<div class="gallery">

  {% for obra in obras.obras %}
  <div class="gallery__item">
    <img src="{{ obra.preview }}" alt="{{ obra.title }}" onclick="openLightbox();toSlide({{ obra.id }})" class="hover-shadow preview">
    <br>
    <small class="tac">{{ obra.title }}</small>
  </div>
  {% endfor %}

</div>


<div id="Lightbox" class="modal">

      <span class="close pointer" onclick="closeLightbox()">&times;</span>

      <div class="modal-content">

        {% for obra in obras.obras %}
        <div class="slide">
          <img src="{{ obra.imagen }}" alt="{{ obra.title }}" class="image-slide">
          <small><strong>{{ obra.title }}</strong> {{ obra.description }}. REF: {{ obra.ref }}</small>
        </div>
        {% endfor %}

        <a class="previous" onclick="changeSlide(-1)">&#10094;</a>
        <a class="next" onclick="changeSlide(1)">&#10095;</a>

        <div class="dots">

          {% for obra in obras.obras %}
            <img src="{{ obra.preview }}" alt="{{ obra.title }}" class="modal-preview hover-shadow"
            onclick="toSlide({{ obra.id }})">
          {% endfor %}

        </div>
      </div>

{# <script type="module" src="{{ '/js/main.js' | url }}"></script> #}
<script src="{{ '/js/lightbox.js' | url }}"></script>
