<!doctype html>
<html lang="en">

  {% include "./head.njk" %}

<body style="overflow: hidden">

  <div id="wrap-preloader" style="display: grid; place-items: center; width: 100vw; height: 100vh;">

    <svg id="preloader" class="animintro" viewBox="-0 -0 110 110" xmlns="http://www.w3.org/2000/svg">
      <circle class="grande" cx="50%" cy="50%" r="50" vector-effect="non-scaling-stroke"></circle>

      <circle class="mediano" cx="27.5%" cy="50%" r="25" vector-effect="non-scaling-stroke"></circle>
      <circle class="mediano" cx="72.5%" cy="50%" r="25" vector-effect="non-scaling-stroke"></circle>

      <circle class="uno" cx="15.6%" cy="50%" r="12.5" vector-effect="non-scaling-stroke"></circle>
      <circle class="tres" cx="61.5%" cy="50%" r="12.5" vector-effect="non-scaling-stroke"></circle>
      <circle class="dos" cx="38.5%" cy="50%" r="12.5" vector-effect="non-scaling-stroke"></circle>
      <circle class="cuatro" cx="84.4%" cy="50%" r="12.5" vector-effect="non-scaling-stroke"></circle>
      <!-- <text x="32px" y="95px">cargando</text> -->
    </svg>

  </div>

  <div id="theSite" class="fade-page-off">

  <header>
    {% include "./components/brand.njk" %}
    {% include "./nav.njk" %}

    {% include "./sidenav.njk" %}
    <span class="hambutton" style="font-size:30px;cursor:pointer"
    onclick="openNav()">&#9776;</span>
  </header>

  <main{% if templateClass %} id="maincontent" class="{{ templateClass }}" {% endif %}>

  {{ content | safe }}

  </main>

  {% include "./components/footer.njk" %}

  </div>

  <script type="text/javascript" src="{{ '/js/navbar.js' | url }}"></script>
  <script type="text/javascript" src="{{ '/js/sidenav.js' | url }}"></script>
  <script src="{{ '/js/svg.js' | url }}"></script>
  <script type="module" src="{{ '/js/main.js' | url }}"></script>
  <!-- Current page: {{ page.url | url }} -->
</body>

</html>
