<!doctype html>
<html lang="en">

  {% include "./head.njk" %}


<body>
  <header>
      {% include "./components/brand.njk" %}
      {% include "./nav.njk" %}
  </header>

  <main{% if templateClass %} class="main--content {{ templateClass }}" {% endif %}>

    {{ content | safe }}
    </main>

    <footer class="footer-site grid__item vh50">

      {% include "./components/contact-info.njk" %}
      {% include "./components/social-links.njk" %}

    </footer>

    <script type="text/javascript" src="{{ '/js/navbar.js' | url }}"></script>
    <!-- Current page: {{ page.url | url }} -->
</body>

</html>
