<nav class="sidenav" id="mySidenav">

<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  {%- for entry in collections.all | eleventyNavigation %}

  <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">

    <a href="{{ entry.url | url }}">

      {{ entry.title }}

    </a>

  </li>

  {%- endfor %}

</nav>
